[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-lambda-local = "*"
pytest = "*"
moto = "*"
flake8 = "*"

[packages]
requests = "*"

[requires]
python_version = "3.8"
